In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
!pip install pandas
!pip install numpy 
!pip install matplotlib

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.2.2-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\msi\anaconda3\envs\pwc_switzerland_practice\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\msi\anaconda3\envs\pwc_switzerland_practice\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.2.2-cp312-cp312-win_amd64.whl (12.6 MB)
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Using cached tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Requirement already satisfied: numpy in c:\users\msi\anaconda3\envs\pwc_switzerland_practice\lib\site-packages (2.2.2)
Collecting matplotlib
  Using cached matplotlib-3.10.0-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.3.1-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.55.8-cp312-cp312-win_amd64.whl.metadata (103 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.8-cp312-cp312-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\msi\anaconda3\envs\pwc_switzerland_practice\lib\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\msi\anaconda3\envs\pwc_switzerland_practice\lib\site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-11.1.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\msi\anaconda3\envs\pwc_switzerland_practice\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\msi\anaconda3\envs\pwc_switzerland_practice\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Using cached matplotlib-3.10.0-cp312-cp312-win_amd64.whl (8.0 MB)
Using cached contourpy-1.3.1-cp312-cp312-win_amd64.whl (220 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.8-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 2.2/2.2 MB 11.2 MB/s eta 0:00:00
Using cached kiwisolver-1.4.8-cp312-cp312-win_amd64.whl (71 kB)
Using cached pillow-11.1.0-cp312-cp312-win_amd64.whl (2.6 MB)
Using cached pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.8 kiwisolver-1.4.8 matplotlib-3.10.0 pillow-11.1.0 pyparsing-3.2.1

In [4]:
call = pd.read_excel('01 Call-Center-Dataset.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [5]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [6]:
call = pd.read_excel('01 Call-Center-Dataset.xlsx')

In [7]:
call.head(10)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0001,Diane,2021-01-01,09:12:58,Contract related,Y,Y,109.0,00:02:23,3.0
1,ID0002,Becky,2021-01-01,09:12:58,Technical Support,Y,N,70.0,00:04:02,3.0
2,ID0003,Stewart,2021-01-01,09:47:31,Contract related,Y,Y,10.0,00:02:11,3.0
3,ID0004,Greg,2021-01-01,09:47:31,Contract related,Y,Y,53.0,00:00:37,2.0
4,ID0005,Becky,2021-01-01,10:00:29,Payment related,Y,Y,95.0,00:01:00,3.0
5,ID0006,Stewart,2021-01-01,10:00:29,Technical Support,N,N,NaN,NaN,NaN
6,ID0007,Diane,2021-01-01,10:22:05,Payment related,Y,Y,24.0,00:03:40,2.0
7,ID0008,Diane,2021-01-01,10:22:05,Payment related,Y,Y,22.0,00:00:38,4.0
8,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0
9,ID0010,Jim,2021-01-01,11:13:55,Streaming,Y,Y,78.0,00:01:04,3.0

In [8]:
call.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Call Id                     5000 non-null   object
 1   Agent                       5000 non-null   object
 2   Date                        5000 non-null   object
 3   Time                        5000 non-null   object
 4   Topic                       5000 non-null   object
 5   Answered (Y/N)              5000 non-null   object
 6   Resolved                    5000 non-null   object
 7   Speed of answer in seconds  4054 non-null   float64
 8   AvgTalkDuration             4054 non-null   object
 9   Satisfaction rating         4054 non-null   float64
dtypes: float64(2), object(8)
memory usage: 390.8+ KB

What are we doing?
The Date and Time columns are separate, making it difficult to analyze trends.
We will combine them into a single datetime column.

In [9]:
call['Time'] = call['Time'].astype(str)

In [11]:
call['Datetime'] = pd.to_datetime(call['Date'] + ' ' + call['Time'])

What are we doing?
The AvgTalkDuration column is stored as HH:MM:SS.
We need to convert it into total seconds for calculations.

In [12]:
call['AvgTalkDuration'] = call['AvgTalkDuration'].astype(str)

In [14]:
call['AvgTalkDuration'] = pd.to_timedelta(call['AvgTalkDuration']).dt.total_seconds()

WE NOW PROCEED TO CALCULATE IMPORTANT METRICS 
- TOTAL CALLS
- ANSWERED VS ABANDANONED CALLS
- AVERAGE CUSTOMER SATISFACTION
- AVERAGE SPEED OF ANSWER

In [19]:
kpi_data = {
    'Total Calls' : len(call),
    'Answered Calls' : call[call['Answered (Y/N)'] == 'Y'].shape[0],
    'Abandoned Calls' : call[call['Answered (Y/N)'] == 'N'].shape[0],
    'Avg Satisfaction Rating' : call['Satisfaction rating'].mean(),
    'Avg Speed of Answer (sec)' : call['Speed of answer in seconds'].mean(),
}

In [20]:
kpi_data

{'Total Calls': 5000,
 'Answered Calls': 4054,
 'Abandoned Calls': 946,
 'Avg Satisfaction Rating': np.float64(3.4035520473606313),
 'Avg Speed of Answer (sec)': np.float64(67.52072027627035)}

ANALYZING AGENT'S PERFORMANCE
In the next step, we are evaluating how well each call center agent is performing based on:
- The number of calls they have answered.
- Their average talk time per call.

In [21]:
agent_performance = call[call['Answered (Y/N)'] == 'Y'].groupby('Agent').agg(
    Calls_Answered=('Call Id', 'count'),
    Avg_Talk_Time=('AvgTalkDuration', 'mean')
).reset_index()

In [22]:
agent_performance

     Agent  Calls_Answered  Avg_Talk_Time
0    Becky             517     220.009671
1      Dan             523     231.189293
2    Diane             501     218.954092
3     Greg             502     226.802789
4      Jim             536     228.113806
5      Joe             484     224.101240
6   Martha             514     223.725681
7  Stewart             477     226.205451

What are we doing?
We want to count how many calls happen each hour of the day.

In [24]:
call['Hour'] = call['Datetime'].dt.hour

In [25]:
calls_by_hour = call.groupby('Hour').size().reset_index(name='Call_Count')

In [28]:
calls_by_hour

   Hour  Call_Count
0     9         547
1    10         529
2    11         590
3    12         547
4    13         594
5    14         499
6    15         531
7    16         566
8    17         583
9    18          14

In [33]:
import ace_tools as tools

ModuleNotFoundError: No module named 'ace_tools'

In [30]:
!pip install ace_tools

Collecting ace_tools
  Downloading ace_tools-0.0-py3-none-any.whl.metadata (300 bytes)
Downloading ace_tools-0.0-py3-none-any.whl (1.1 kB)
Installing collected packages: ace_tools
Successfully installed ace_tools-0.0

In [36]:
import ace_tools as tools

# Display the processed dataset
tools.display_dataframe_to_user(name="Processed Call Center Data", dataframe=df)

ModuleNotFoundError: No module named 'ace_tools'

In [37]:
call.head(10)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating,Datetime,Hour
0,ID0001,Diane,2021-01-01,09:12:58,Contract related,Y,Y,109.0,143.0,3.0,2021-01-01 09:12:58,9
1,ID0002,Becky,2021-01-01,09:12:58,Technical Support,Y,N,70.0,242.0,3.0,2021-01-01 09:12:58,9
2,ID0003,Stewart,2021-01-01,09:47:31,Contract related,Y,Y,10.0,131.0,3.0,2021-01-01 09:47:31,9
3,ID0004,Greg,2021-01-01,09:47:31,Contract related,Y,Y,53.0,37.0,2.0,2021-01-01 09:47:31,9
4,ID0005,Becky,2021-01-01,10:00:29,Payment related,Y,Y,95.0,60.0,3.0,2021-01-01 10:00:29,10
5,ID0006,Stewart,2021-01-01,10:00:29,Technical Support,N,N,NaN,NaN,NaN,2021-01-01 10:00:29,10
6,ID0007,Diane,2021-01-01,10:22:05,Payment related,Y,Y,24.0,220.0,2.0,2021-01-01 10:22:05,10
7,ID0008,Diane,2021-01-01,10:22:05,Payment related,Y,Y,22.0,38.0,4.0,2021-01-01 10:22:05,10
8,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,398.0,4.0,2021-01-01 11:13:55,11
9,ID0010,Jim,2021-01-01,11:13:55,Streaming,Y,Y,78.0,64.0,3.0,2021-01-01 11:13:55,11

SAVING THE PROCESSED DATA

In [38]:
call.to_csv("Processed_Call_Center_Data.csv", index=False)
print("Data saved successfully as 'Processed_Call_Center_Data.csv'")

Data saved successfully as 'Processed_Call_Center_Data.csv'